body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
	background-color: #f2f8f9;
}

#archive {
	.primary {
		color: #f00;
	}

	.success {
		color: #52c41a;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.white {
		background-color: #fff;
	}

	.mobile-hide {
		display: block;
	}

	.mobile-show {
		display: none;
	}

	.mar-top-72 {
		margin-top: 72px;
	}

	::-webkit-scrollbar {
		width: 7px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #C1C1C140;
	}

	::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}

	body::-webkit-scrollbar-track {
		background-color: #f2f8f9;
	}

	::-webkit-scrollbar-thumb:hover {
			background-color: #C1C1C1;
	}

	.ant-layout {
		background-color: #f2f8f9;
	}

	.contains {
		margin: 0px 30px;
		margin-left: 230px;
		padding-top: 20px;
		padding-bottom: 40px;
		background-color: #fff;
	}

	.contain {
		margin: 30px 30px;
		margin-left: 230px;
		text-align: center;
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.label {
		text-align: left;
		font-weight: bold;
	}

	.option {
		text-align: left;
	}

	.ant-checkbox-wrapper, .ant-checkbox-group-item {
		display: block;
	}

	.selectall {
		color: #000;
	}

	.button {
		margin: 20px;
	}

	.ant-select-selection--multiple .ant-select-selection__rendered {
		margin-left: 30px;
	}

	.select-icon:before {
		content: '';
			position: absolute;
			display: inline-table;
			width: 18px;
			height: 18px;
			float: left;
			background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
			top: 8px;
			left: 8px;
			z-index: 9;
	}

	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
		color: #063261;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
		color: #1DA57A;
	}

	.ant-tabs-nav .ant-tabs-tab:hover {
		color: #1DA57A !important;
	}
}

@media screen and (max-width: 1024px) {

	.mobile-hide {
		display: none;
	}

	.mobile-show {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.contain {
		margin: 20px auto;
		margin-left: 0;
		text-align: center;
		width: 100%;
	}
}