body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #dddddd;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-track {
	background-color: #f2f8f9;
}

::-webkit-scrollbar-thumb:hover {
		background-color: #C1C1C1;
}


#dashboard {
	.success {
		color: #52c41a;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.white {
		background-color: #fff;
	}

	.mobile-hide {
			display: block;
		}

	.mobile-show {
			display: none;
		}

	.pad {
		padding-right: 10px;
	}

	.pad-20 {
		padding: 20px;
	}

	.bold {
		font-weight: bold;
	}

	.mar-bot-20 {
		margin-bottom: 20px;
	}

	.font-16 {
		font-size: 16px;
	}

	.font-24 {
		font-size: 24px;
	}

	.pad-bot-40 {
		padding-bottom: 40px;
	}

	.width-90 {
		width: 90%;
	}

	.center {
		text-align: center;
	}

	.text-left {
		text-align: left;
	}

	.mar-top-35 {
		margin-top: 35px !important;
	}

	.top-0 {
		margin-top: 0 !important;
	}

	.pad-left-10 {
		padding-left: 10px;
	}

	.device-details::-webkit-scrollbar-thumb, .parameter-trend::-webkit-scrollbar-thumb {
	 background-color: #f0f0f0;
	}

	.device-details:hover::-webkit-scrollbar-thumb, .parameter-trend:hover::-webkit-scrollbar-thumb {
	 background-color: #C1C1C1;
	}

	.ant-layout {
		background-color: #f2f8f9;
	}

	.contains, .ant-layout-footer {
		margin: 0 30px;
		margin-left: 230px;
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.city-select {
		margin-left: 10px;
	}

	.map-container {
		margin-right: 55px;
	}

	.device-details {
		max-height: 348px;
		overflow: auto;
		margin-top: 20px;
	}

	.contain {
		margin-top: 72px;
		padding: 25px 12px;
		background: #fff;
	}

	.aqi-details {
		margin-top: 30px;
		background: transparent;
		padding: 7px 0;
	}

	.ant-divider-horizontal {
		margin: 3px 0;
	}

	.device-row {
		width: 100%;
		padding: 18px 0;
		border-bottom: 1px solid #d9d9d9;
	}

	.head {
		font-size: 20px;
		padding: 0 15px;
		font-weight: bold;
	}

	.full-height {
		height: 400px;
		width: 100%;
	}

	.section-head {
		padding: 15px;
		color: #063261;
		border-bottom: 1px solid #ddd;
		position: sticky;
		top: 0;
		margin-right: 1px;
		background-color: #fff;
		z-index: 1;
	}

	.aqi-scale {
		width: 70%;
		margin: 0 24px;
		padding: 20px 0;
	}

	.select-icon:before {
		content: '';
			position: absolute;
			display: inline-table;
			width: 18px;
			height: 18px;
			float: left;
			background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
			top: 8px;
			left: 8px;
			z-index: 9;
	}

	.value {
		display: inline-block;
		padding: 0 15px;
		padding-left: 0;
		text-align: center;
	}

	.graph-value {
		font-size: 18px;
	}

	.highcharts-credits {
		display: none;
	}

	.hr24-graph {
		padding: 20px 0;
	}

	.highcharts-container {
		text-align: center;
		margin: 0 auto;
	}

	.ant-select-selection__rendered {
		margin-left: 35px;
	}

	.ant-select-dropdown-menu-item {
		padding: 5px 26px;
	}

	.aqi-trend {
		padding-left: 20px;
	}

	.aqi-status {
		font-size: 16px;
		margin-bottom: 14px;
		font-weight: bold;
	}

	.aqi-value {
		font-size: 42px;
		font-weight: bold;
	}

	.parameter-trend {
		max-height: 400px;
		overflow: auto;
	}

	.aqi-pollutant-graphs {
		margin-top: 30px;
		border-bottom: 1px solid #ddd;
	}

	.graph-name {
		padding: 0 55px;
	}

	.pollutant-name {
		font-size: 16px;
	}

	.graph-aqi {
		margin-left: 30px;
	}

	.graph-aqi-value {
		font-size: 26px;
		padding-right: 10px;
		font-weight: bold;
	}

	.back-col {
		background-color: #f4f4f4;
	}

	.weather-values {
		text-align: center;
		margin: 5px 0;
	}

	.weather-value {
		font-size: 20px;
		font-weight: 600;
	}

	.para-value {
		margin-top: -15px;
		position: relative;
		z-index: 2;
	}

	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	.gas-graph {
		padding: 20px 0;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
		color: #063261;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
		color: #1DA57A;
	}

	.ant-tabs-nav .ant-tabs-tab:hover {
		color: #1DA57A !important;
	}

}

/*@media screen and (max-width: 1280px) {
	.map-container {
		width: 50%;
	}
}

@media screen and (max-width: 1024px) {
	.white {
		width: 100%;
		margin-top: 40px;
	}

	.mobile-hide {
		display: none;
	}

	.mobile-show {
		display: block;
	}

	.width-100 {
		width: 100%;
		margin-top: 80px;
	}

	.map-container {
			margin: 0px;
			width: 100%;
	}
}

@media screen and (max-width: 1023px) {

	.device-details {
		display: none;
	}

	.width-100 {
		margin-top: 0;
	}

	.back-white {
		background: #fff;
		padding: 20px 0;
	}

	.pad-t-35 {
		padding-top: 35px;
	}

	.pad-lr-20 {
		padding: 0 20px;
	}

	.display-none {
		display: none;
	}

	.mar-bot-25 {
		margin-bottom: 25px;
	}

	.aqi-scale {
		width: 84%;
		margin: 0 auto !important;
	}

	.aqi-trend {
		padding-left: 0;
	}

	.ant-col-4 {
		width: 10%;
	}

	.aqi-value {
		font-size: 34px;
	}

	.aqi-status {
		margin-bottom: 9px;
	}
}

@media (min-width: 600px) and (max-width: 640px) {
	.ant-col-4 {
		width: 16%;
	}
}

@media screen and (max-width: 425px) {
	.city-select {
		width: 100%;
		margin-left: 0;
	}

	.ant-select {
		width: 100% !important;
	}

	.ant-col-7 {
		width: 51%;
	}

	.mar-top-20 {
		margin-top: 20px;
	}

	.width-41 {
		width: 41% !important;
	}

	.font-24 {
		font-size: 18px;
		width: 30%;
	}

	.weather-value {
		font-size: 14px;
	}

	.hr24-graph {
		display: none;
	}

	.pad-lr-10 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.width-22 {
		width: 22% !important;
	}

	.ant-col-4 {
		width: 16.66666667%;
	}

	.width-90 {
		width: 90%;
	}

	.aqi-value {
		font-size: 34px;
	}

	.aqi-status {
		margin-bottom: 2px;
	}

	.parameter-trend {
		max-height: unset;
	}

}*/